html {
    height: 100vh;
}

body {
  height: 100vh;
  /* The image used */
  /*background-image: url("https://s3-us-west-1.amazonaws.com/elasticbeanstalk-us-west-1-699070318617/McDonalds/Extra+Value+Meals.jpg"); */
  background-image: url('background_image.jpg');

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center center;
}

.container-fluid {
    margin-top: 60px;
    height: 100%;

}

p {
  color:white;
}

ul {
  list-style-type: none;
  padding: 0;
}

.ulborder {
  border: 1px solid black;
  background-color:white;
}

.ulborder:empty {
  border: none;
}

.ulborder li {
  margin: 5px;
}

#navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%
}

#navbar p {
  margin-left: 15px;
  margin-top: 10px;
  color:white;
  font-size: 20px;
}

.menutypes {
  margin:0px;
}

.largebtn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding:.5rem 1rem;
  font-size:1.25rem;
  line-height:1.5;
  border-radius:.3rem;
  cursor: pointer;
  opacity: 0.9;
}

.largebtn:hover {
    background-color: #4CAF50; /* Green */
}

.shadowbtn:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
}
